.Service {
  width: 100%;
  height: 100%;
}
.service-di {
  width: 100%;
  height: 70px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}
.service-bu {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #eee;
}

.service-cc {
  width: 100%;
}
.enclish {
  float: left;
  font-size: 15px;
  width: 125px;
  height: 50px;
  line-height: 25px;
  text-align: center;
}
.en{
    width: 100%;
}
.ens{
    float: left;
  font-size: 15px;
  width: 125px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.ds{
  width: 100%;
  .cs{
    float: left;
    font-size: 15px;
    width: 125px;
    height: 50px;
    line-height: 25px;
    text-align: center;
  }
}
.bu-jia{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  .bs{
    float: left;
    font-size: 15px;
    width: 90px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    padding-left: 3px;
  }
}
