.housering {
  width: 100%;
  height: auto;
  font-size: 16px;
}

.ringtop {
  width: 100%;
  height: 100px;
  background-color: #1281F5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 25px;
}

.ringtop h2 {
  font-size: 30px;
}

.list {
  width: 100%;
  height: 100%;
}

.list li {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.list li .top {
  width: 100%;
  height: 80px;
  display: flex;
}

.list li .top .la {
  flex: 2;
}

.list li .top .la .imgs {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.list li .top .con {
  flex: 5;
  line-height: 30px;
  font-size: 14px;
}

.list li .top .con .con_top {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list li .top .con .con_bot {
  font-size: 12px;
  color: #807777;
}

.list li .top .ra {
  flex: 3;
}

.list li .top .ra .but {
  display: inline-block;
}

.list li .bot {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
}

.list li .bot .left {
  flex: 2;
}

.list li .bot .right {
  flex: 8;
  position: relative;
}

.list li .bot .right::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  top: 100%;
  background: #ccc;
  transform: scaleY(0.5);
}

.list li .bot .right .imgMsg .imgPath {
  width: 85px;
  height: 130px;
  margin: 0 3px;
}
