
.my{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
*{
    font-size: 15px;
}
.main{
    width: 100%;
    flex:1;
  
}
.box{
    width: 100%;
    height: 200px;
    background-image: url("../../../images/6.png");
    h3{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        color: #fff;
        text-align: center;
    }
}
.boxs{
    width: 350px;
    height: 150px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    z-index: 9999;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 5px #efefef;
}
.mytop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 25px;
    border-bottom: .5px solid #ccc;
    .ds{
       
        span{
            line-height: 25px;
            font-size: 15px;
            display: block;
        }
    }
}
.mybottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 45px;
    padding: 0 25px;
    li{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        line-height: 28px;
    }
}
.myimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cylist{
    margin-top: 100px;
}
.mylist{
    height: 45px;
    background: white;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.myisue{
    height: 45px;
    background: white;
    margin: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.myserve{
    height: 45px;
    background: white;
    margin: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.spans{
   i{
       font-size: 25px;
   }
}
.footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
}