.AgentInfo{
    width: 100%;
    height: auto;
}
.top{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    border-radius: 10px;
    line-height: 40px;
}
.topleft{
    width: 50%;
    text-align: right;
    height: 100%;
    padding-top: 20px;   
}
.topleft i{
    color: #FD616C;
}
.topleft h6{
    font-size: 18px;
}
.topright{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
}
.topright img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main{
    width: 100%;
    height: auto;
    margin-top: 18px;
}
.maintop{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.maintop span{
    display: inline-block;
    margin-left: 10px;
}
.mainmian{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.maincont{
    width: 90%;
    height: 160px;
    margin: 0 auto;
    border-bottom: 1px dashed #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.left{
    width: 30%;
    height: 100%;
}
.left img{
    width: 100%;
    height: 80px;
    padding-top: 20px;
}
.right{
    width: 60%;
    height: 100%;
    line-height: 30px;
}
.right p{
    width: 100%;
    font-size: 10px;
}
.bottom{
    font-size: 14px;
}
.fangjia{
    font-size: 18px;
    font-weight: bold;
    color:red;
}
.danjia{
    font-size: 8px;
    color: #ccc;
}