.ask {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.tops {
  width: 100%;
  height: 50px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list {
  clear: both;
  dl {
    width: 100%;
    height: 170px;
    display: flex;
    margin: 5px 0;
    dt {
      margin: 15px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    dd {
      flex: 1;
      font-size: 14px;
      margin: 5px;
      line-height: 25px;
      .span2 {
        background: #eee;
        padding: 3px 3px;
        margin: 2px;
      }
      .cyans {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .p2 {
          font-weight: 800;
        }
        .p3 {
          background: rgb(255, 102, 0);
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          font-size: 10px;
          margin-right: 2px;
          color: #fff;
        }
      }
    }
  }
}
.scrollTop {
  position: fixed;
  bottom: 0;
  right: 10px;
  outline: none;
  border: none;
}