.Interaction {
  width: 100%;
  height: 100%;
}
.interaction-list {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  dl {
    width: 100%;
    height: 70px;
    display: flex;
    margin: 8px 0;
    dt {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    dd{
      padding-left:10px;
      flex: 1;
      line-height: 35px;
      .alias_name{
        margin-left:30px;
        padding: 0 8px;
        background: yellow;
        color: #fff;
      }
      .time{
        margin-left:30px;
      }
    }
  }
}
