.mapLookRoom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .am-navbar {
    width: 100%;
    height: 45px;
  }
  .lookRoomMap {
    width: 100%;
    flex: 1;
    position: relative;
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0px;
      background-color: #ffffff;
      z-index: 1;
      overflow-y: auto;
      transition: all 0.5s;
      padding: 0 15px;
      p {
        width: 100%;
        height: 40px;
        font-size: 14px;
        display: flex;
        align-items: center;
      }
      .more {
        width: 100%;
        display: flex;
        flex-direction: column;
        b {
          font-size: 16px;
        }
        .moreOption {
          display: flex;
          flex-wrap: wrap;
          span {
            height: 30px;
            font-size: 14px;
            border: 0.5px solid #cccccc;
            border-radius: 5px;
            padding: 3px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
          }
        }
      }
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
    overflow-y: auto;
  }
  .tabsItem {
    display: flex;
    height: 40px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;

    & > span::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 3px solid transparent;
      border-right-color: #333333;
      border-bottom-color: #333333;
      border-radius: 3px;
      transform: rotate(45deg);
      position: relative;
      top: -3px;
      right: -2px;
    }
  }
}
