.wrapper {
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247);

    .main {
        width: 100%;
        height: 100%;
        padding: 0 24px;

        .top {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                &:nth-child(2) {
                    font-size: 18px;
                }
            }
        }
        .item{
            width: 100%;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
        }
    }

}