.newhouse{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.newtop{
    width: 100%;
    height: 100px;
    background-color: #1281F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 25px;
}
.newtop h2{
    font-size: 30px;
}
.newmain{
    width: 100%;
    height: auto;
}
.maintop{
    width: 100%;
    height: 50px;
    border: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.maintop select{
    border: none;
    outline: none;
    font-size: 16px;
}
.maininput{
    width: 60%;
    height: 100%;
}
.mainmain{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
    border-bottom: 1px dashed #000;
}
.mainmain i{
    font-size: 28px;
    color: #FFB881;
}
.mainselect{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-around;
    border-bottom: 1px dashed #000;
}

/* 遮罩层 */
.showarea{
    width: 100%;
    height: 366px;
}
.showareamain{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-around;
}
.showleft,.showright{
    width: 50%;
    overflow-y: auto;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
.showprice{
    width: 100%;
    height: 88%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.showtype,.showscreen{
    width: 100%;
    height: 88%;
    text-align: center;
    line-height: 40px;
}
.showtype h2,.showscreen h2{
    font-size: 24px;
}
.showtype span,.showscreen span{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    border:1px solid #000;
    font-size: 18px;
}

.showareabtn{
    width: 80%;
    margin:0 auto;
    color: white;
    font-size: 20px;
}