.collection {
  width: 100%;
  height: 100%;
}

.list {
  dl {
    width: 100%;
    height: 150px;
    display: flex;
    margin: 2px 0;
    dt {
      margin: 15px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    dd {
      h3 {
        margin-top: 15px;
      }
      font-size: 18px;
      line-height: 25px;
      .span1 {
        padding: 3px 8px;
        background: #eee;
        font-size: 13px;
      }
    }
  }
}
.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  outline: none;
  border: none;
}
