.wrapper {
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247);
    display: flex;
    flex-direction: column;

    .issue_top {
        width: 100%;
        height: 112px;
        background: linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);

        .issue_header {
            margin-top: 20px;
            width: 100%;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            span {
                display: block;
                width: 56px;
                height: 20px;
                font-family: 'Arial Normal', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: #FFFFFF;

            }
        }

    }

    .main {
        width: 100%;
        height: auto;
        overflow-y: auto;

        .contnet {
            margin-bottom: 8px;
            padding: 0 24px;
            background-color: #fff;

            .list_item {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                padding: 12px 0;

                img {
                    width: 48px;
                    height: 48px;
                    margin-right: 8px;
                }

                .info {
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    flex: 1;

                    .title {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }

                    .sub_title {
                        font-size: 11px;
                        color: #999;
                    }
                }

                .gt {
                    color: rgb(187, 187, 187);
                    font-size: 15px;
                    line-height: 1;
                    font-weight: initial;
                }
            }
        }
    }
}