@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629276164845') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e619";
}

.icon-fabu:before {
  content: "\e6ad";
}

.icon-icon_bangwozhaofang:before {
  content: "\e61a";
}

.icon-wode-copy:before {
  content: "\e61d";
}

.icon-msg:before {
  content: "\e604";
}



