.hotHouse,
.ershoufang {
  width: 100%;
  height: 135px;
  padding: 0 15px;

  dl {
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid #cccccc;
    display: flex;
    align-items: center;
    dt {
      width: 102px;
      height: 86px;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    dd {
      flex: 1;
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
.hotHouse {
  p {
    margin: 10px 0;
    &:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      b {
        font-size: 16px;
      }
      span {
        background: linear-gradient(to right, #ec632b, #f1a13a);
        padding: 2px 3px;
        font-size: 12px;
        border-radius: 3px;
        color: #ffffff;
      }
    }
    &:nth-of-type(2) {
      color: red;
    }
    &:nth-of-type(3) {
      font-size: 12px;
      span {
        border: 0.5px solid #cccccc;
        margin: 0 5px;
        padding: 1px 2px;
        color: #666666;
      }
    }
    &:nth-of-type(4) {
      font-size: 12px;
      span {
        &:nth-of-type(1) {
          background-color: red;
          color: #ffffff;
          padding: 1px;
        }
        &:nth-of-type(2) {
          border: 0.5px solid red;
          color: red;
          padding: 0 5px;
        }
      }
    }
  }
}
.ershoufang {
  p {
    margin: 5px 0;
    &:nth-of-type(1) {
      display: -webkit-box;
      display: -moz-box;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /*显示行数*/
      span {
        &:nth-of-type(1) {
          display: inline-block;
          font-size: 13px;
          color: #ffffff;
          padding: 2px 3px;
          background-color: #ec632b;
          border-radius: 2px;
          margin: 0 5px;
        }
        &:nth-of-type(2) {
          font-size: 16px;
        }
      }
    }
    &:nth-of-type(2) {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:nth-of-type(3) {
      font-size: 10px;
      span {
        display: inline-block;
        border: 0.5px solid #cccccc;
        margin: 2px 5px;
        padding: 1px 2px;
        color: #666666;
      }
    }
    &:nth-of-type(4) {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: #999999;
      span {
        &:nth-of-type(1) {
          b {
            color: red;
            font-size: 16px;
          }
        }
      }
    }
  }
}
