.wrapper {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .box{
        flex: 1;
    }
    .top{
        width: 100%;
        height: 50px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            &:nth-child(2){
                font-size: 18px;
            }
        }
    }
    .main{
        width: 100%;
        height: auto;
        background: white;
        .content{
            width: 100%;
            height: 100%;
            padding: 0 24px;
            .des{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    &:nth-child(1){
                        font-size: 20px;
                    }
                    &:nth-child(2){
                        font-size: 16px;
                        color: #999;
                    }
                }
            }
            .addimg{
                width: 100%;
                height: auto;
                padding-bottom: 20px;
            }
        }
    }
    .btn{
        width: 90%;
        height: 50px;
        margin:  auto;
    }
}