.agent{
    width: 100%;
    height: auto;
}
.agenttop{
    width: 100%;
    height: 100px;
    background-color: #1281F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 25px;
}
.agenttop h2{
    font-size: 30px;
}
.agentmain{
    width: 100%;
    height: 200px;
    background-color: #F6787A;
}
.agentrank{
    padding-top: 50px;
    width: 100%;
    height: 120px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.agentrank div{
    line-height: 60px;
}
.agentrank img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.agentranktwo img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.cnoone{
    font-size: 16px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: #FFE88B;
}
.cname{
    font-size: 18px;
}
.agentranktwo{
    width: 100%;
    height: auto;
    margin-top: 45px;
}
.agentranktwo div{
    height: 80px;
    margin:5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px #ccc solid;
    font-size: 16px;
}
.towone{
    width: 8%;
    text-align: center;
}
.twotwo{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.twothree{
    width: 20%;
}