.problem {
  width: 100%;
  height: 100%;
}
.top-views {
  width: 100%;
  height: 150px;
  padding: 12px 24px;
  margin-bottom: 30px;
  background-color: #fff;
}
.bottom {
  width: 100%;
  height: 250px;
  padding: 12px 24px;
  background-color: #fff;
  margin-bottom: 50px;
}
.spans{
    font-size: 15px;
    margin-left: 15px;
}
.demoTitle:before,
.demoTitle:after {
  border-bottom: none;
}
.btn {
  background-color: #ff656b;
  margin: 15px;
  width: 350px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  font-size: 20px;
}
