.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  main {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }
  footer {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        font-size: 26px;
      }
    }
  }
}
