.login {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 0.5px solid #ccc;
  .cyan {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 100px;
  }
  h2 {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .imgs {
    margin-top: 15px;
  }
  .login-item {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;    
    .form-control {
      width: 80%;
      padding-left: 1px;
      &::placeholder {
        font-size: 15px;
      }
    }
  }

  .summit {
    width: 80%;
    height: 40px;
    padding: 0 5px;
    box-sizing: border-box;
    background: lightblue;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
  }
}