@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629809887043') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svgadd:before {
  content: "\e64f";
}

.icon-fasongxiaoxi:before {
  content: "\e737";
}

.icon-shipinhujiao:before {
  content: "\e635";
}

.icon-shoucang1:before {
  content: "\e501";
}

.icon-wodefabu:before {
  content: "\e6d2";
}

.icon-bianpinghuatubiaosheji-:before {
  content: "\e62c";
}

.icon-liulanlishi:before {
  content: "\e7aa";
}

.icon-tubiaozhizuomoban:before {
  content: "\e507";
}

.icon-lianxiren:before {
  content: "\e698";
}

.icon-dianhua:before {
  content: "\e691";
}

.icon-mine-inactive:before {
  content: "\e504";
}

.icon-fabu:before {
  content: "\e6cb";
}

