.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .detail_top {
        width: 100%;
        height: 82px;
        background: linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            color: white;
            font-size: 18px;
        }
    }

    .detail_money {
        width: 100%;
        height: 50px;
        background: rgba(248, 225, 230, 1);
        display: flex;
        padding-left: 20px;
        align-items: center;
        color: #FF3333;
        font-size: 15px;

        span {
            &:nth-child(1) {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #FF3333;
                text-align: center;
                line-height: 20px;
                margin-right: 10px;
            }
        }
    }

    .detail_content {
        width: 100%;
        flex: 1;
        overflow: auto;
        background: rgb(240, 240, 240);

        .detail_add {
            width: 100%;
            height: auto;
            background: white;

            .add {
                width: 100%;
                height: 104px;
                padding: 0 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .add_img {
                    width: 64px;
                    height: 64px;
                    justify-content: center;
                    background: #f2f2f2;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 40px;
                        color: rgb(216, 216, 216);
                        font-size: 30px;
                        line-height: 1;
                        font-weight: initial;
                    }
                }

                .detail_gt {
                    color: rgb(187, 187, 187);
                    font-size: 19px;
                    line-height: 1;
                    font-weight: initial;
                }

                .title {
                    flex: 1;
                    margin-left: 12px;
                    margin-right: 3px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    div {
                        &:nth-child(1) {
                            width: 100%;
                            height: 50%;
                            font-size: 18px;
                            color: #666;
                        }

                        &:nth-child(2) {
                            font-size: 11px;
                            color: #999;
                        }
                    }
                }

            }

        }

        .floor {
            width: 100%;
            height: 50px;
            display: flex;
            border-top: 1px solid #f3f3f3;
            box-sizing: border-box;
            padding: 0 20px;
            align-items: center;
            font-size: 16px;
            background: white;
            margin-top: 10px;
        }

        .floor div {
            width: 45%;
            height: 50px;
            display: flex;
            line-height: 50px;
            justify-content: space-between;
        }

        .floorRight {
            margin-left: 20px;
        }

        .floor input {
            width: 50px;
            border: none;
        }
        .btn{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            button{
                width: 100%;
                height: 100%;
            }
        }

    }
}