.Information {
  width: 100%;
  height: 100%;
}
.middle {
  margin-top: 2px;
}
.my-midddle {
  height: 45px;
  background: #fff;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 15px;
}
