.system {
  width: 100%;
  height: 100%;
}
.system-list {
  font-size: 15px;
  width: 100%;
  height: 70px;
  line-height: 35px;
  background: #fff;
  padding-left: 15px;
  .system-span{
      padding-left: 17px;
  }
  .ss{
      color: blue;
  }
}
