.pay {
  width: 100%;
  height: 100%;
  background: #fff;

  .pay_top {
    width: 100%;
    height: 70px;
    background: linear-gradient(
      135deg,
      rgba(2, 114, 240, 1) 0%,
      rgba(2, 114, 240, 1) 0%,
      rgba(57, 165, 255, 1) 100%,
      rgba(57, 165, 255, 1) 100%
    );
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fan {
      font-size: 20px;
      color: white;
    }

    b {
      font-size: 21px;
    }
  }
}

.over {
  width: 120px;
  height: 140px;
}

.phone {
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  padding: 0 0 80px 0;
}

.order {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
}

.order p {
  font-size: 16px;
}

.publish {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 20%;

  .look {
    background: white;
    outline: none;
    border: none;
  }
}
