.select {
  user-select: none;
  position: relative;
}
.selectarea {
  position: absolute;
  top: 40px;
  background: #fff;
  height: 180px;
  z-index: 20;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  animation: select 0.5s linear;
  span {
    display: block;
    width: 100%;
    height: 40px;
    text-indent: 10px;
    line-height: 40px;
    background: #eee;
  }
}

.selectcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333;
  font-size: 14px;
}

@keyframes select {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}
