.home {
  width: 100%;
  .headSearch {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 0 10px;
    .searchInp {
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      input {
        width: 80%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
      }
      svg {
        color: #666666;
      }
    }

    a {
      width: 30px;
      height: 30px;
      font-size: 12px;
      border-radius: 50%;
      span {
        position: relative;
        top: -7px;
        color: #eeeeee;
      }
    }
  }
  .container {
    width: 100%;
    .swiperBanner {
      overflow: hidden;
      width: 100%;
      height: 212px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  nav {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    dl {
      width: 20%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      dt {
        width: 80%;
        height: 60%;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      dd {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  .bannerTitle {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    button {
      border: none;
      outline: none;
      width: 119px;
      height: 32px;
      font-size: 14px;
      color: #ffffff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: linear-gradient(to right, #ec632b, #f1a13a);
      border-radius: 16px;
    }
    & > span {
      font-size: 14px;
      color: #333333;
    }
  }
  .card {
    width: 327px;
    height: 150px;
    border: 0.5px solid #cccccc;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 10px;
    .card_t,
    .card_b {
      width: 100%;
      height: 50%;
      padding: 10px;
    }
    .card_t {
      display: flex;
      .card_t_l,
      .card_t_r {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        p {
          font-size: 12px;
          b {
            font-size: 20px;
          }
          span {
            color: #cccccc;
          }
        }
      }
      .card_t_l {
        border-right: 0.5px solid #cccccc;
      }
    }
    .card_b {
      border-top: 0.5px solid #cccccc;
      width: 100%;
      height: 50%;
      .swiperNews {
        width: 100%;
        height: 100%;
        font-size: 14px;
        .newsItem {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
