.look-room {
  width: 100%;
  height: 100%;
}
.lookroom-top {
  width: 100%;
  height: 150px;
  background-color: #2491fa;
}
.lookroom-top img {
  width: 100%;
  height: 100%;
}
/* .lookroom-top h2{
    width: 100%;
    height: 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 30px;
} */
.lookroom-main {
  width: 100%;
  height: 80%;
  background: #fff;
}
.lookroom-cont {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.couttop {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.help {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #fdddde;
  border-radius: 30px;
  color: #fe7f6c;
}
.namephone {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.namephone div {
  width: 50%;
  height: 30px;
}
.privacy {
  font-size: 16px;
  padding: 8px 20px;
  /* border-radius:5px; */
}
.service {
  width: 95%;
  height: 50px;
  margin: 5px auto;
  font-size: 20px;
  border: 1px #e99a9f solid;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  color: #ac212a;
}

.countmain {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}
.countmain li {
  display: inline-block;
  width: 45%;
  height: 50px;
  margin: 5px 8px;
}
.licount {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  justify-content: space-around;
}
.licountone {
  display: inline-block;
  width: 70%;
  height: 100%;
  line-height: 20px;
  background: #fff;
  font-size: 10px;
}
.licountone h2 {
  font-weight: bold;
  padding-top: 5px;
}
.licounttwo {
  display: inline-block;
  width: 28%;
  background: #fff;
  height: 100%;
}
.licounttwo i {
  font-size: 28px;
  display: inline-block;
  margin-top: 12px;
}
.licountfirst p,
.licountfirst i {
  color: #fa8483;
}
.licountfirst {
  background-color: #f3f3e9;
}
.licountsecond p,
.licountsecond i {
  color: #5ac9fb;
}
.licountsecond {
  background-color: #eff4f7;
}
.licountthird p,
.licountthird i {
  color: #53d0b8;
}
.licountthird {
  background-color: #ecf4f6;
}
.licountfour p,
.licountfour i {
  color: #fbd46b;
}
.licountfour {
  background-color: #faf5ef;
}
