.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #346add, #9ab2e6);
}
.headercon {
  width: 90%;
  height: 80%;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.header_inp {
  width: 100%;
  margin-bottom: 10px;
}

.header_tit {
  width: 100%;
  line-height: 30px;
  font-size: 18px;
}

.back {
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  left: 20px;
  color: #fff;
  top: calc(50% - 8px);
}
